.header-fullName {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 88px;
    padding-right: 53px;
    opacity: 0.6;
    letter-spacing: 0.44px;
    text-transform: uppercase;
}